python-glanceclient==2.6.0
## The following requirements were added by pip --freeze:
Babel==2.3.4
PyYAML==3.12
appdirs==1.4.1
argparse==1.2.1
debtcollector==1.11.0
funcsigs==0.4
functools32==3.2.3-2
iso8601==0.1.11
jsonpatch==1.15
jsonpointer==1.10
jsonschema==2.6.0
keystoneauth1==2.18.0
monotonic==1.2
msgpack-python==0.4.2
netaddr==0.7.17
netifaces==0.10.4
openstacksdk==0.9.13
os-client-config==1.26.0
oslo.config==2.4.0
oslo.i18n==2.6.0
oslo.serialization==1.9.0
oslo.utils==3.22.0
pbr==1.8.0
positional==1.1.1
prettytable==0.7.2
pyparsing==2.2.0
python-keystoneclient==2.0.0
pytz==2014.10
requests==2.13.0
requestsexceptions==1.1.3
rfc3986==0.2.0
six==1.9.0
stevedore==1.5.0
urllib3==1.11
warlock==1.2.0
wrapt==1.8.0
wsgiref==0.1.2
